body, button {
  background-color: CornFlowerBlue;
}

h1, h3, p, button {
  color: white;
  text-align: center;
  font-family: Poppins;
}

img, button {
  display: block;
  margin: 20px auto;
}

img {
  height: 450px;
  border: 10px solid white;
}

button {
  height: 60px;
  width: 180px;
  border: 2px solid white;
  cursor: pointer;
}

button:hover {
  background-color: RoyalBlue;
}

button:active {
  background-color: SteelBlue;
}